[submodule "coopera-favela-app"]
	path = coopera-favela-app
	url = https://github.com/mcaon/coopera-favela-app
[submodule "coopera-favela-back"]
	path = coopera-favela-back
	url = https://github.com/mcaon/coopera-favela-back
[submodule "coopera-favela-page"]
	path = coopera-favela-page
	url = https://github.com/gablemos/coopera-favela-page
